NEXT_PUBLIC_CHAIN_ID=46630
NEXT_PUBLIC_RPC_URL=https://rpc.testnet.chain.robinhood.com
NEXT_PUBLIC_PLEDGE_CONTRACT=0x481F5591D7B26661B651Ab2efB66c10c46958E33
NEXT_PUBLIC_BLOCKSCOUT_API_URL=https://explorer.testnet.chain.robinhood.com/api/v2
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-public-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-secret-key
NEXT_PUBLIC_DB_SCHEMA=pledge
BLOCKSCOUT_API_KEY=
NEXT_PUBLIC_RHG_COLLECTION=0xE80385Cf259C82359CF5eA4eA98cD6514d9257a9
NEXT_PUBLIC_SFR_COLLECTION=0x146BefC6C8656Df737255d08fa1281319Fc1A4c3
NEXT_PUBLIC_NGP_COLLECTION=0x75599F7385dCdbE2aB3b3b0B8d4A3E2C8f02494D
ALERT_WEBHOOK_URL=https://discord.com/api/webhooks/...