NEXT_PUBLIC_CHAIN_ID=46630
NEXT_PUBLIC_RPC_URL=https://rpc.testnet.chain.robinhood.com
NEXT_PUBLIC_PLEDGE_CONTRACT=0x481F5591D7B26661B651Ab2efB66c10c46958E33
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-public-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-secret-key
NEXT_PUBLIC_DB_SCHEMA=pledge
NEXT_PUBLIC_RHG_COLLECTION=0x7FA9385bE102ac3EAc297483Dd6233D62b3e1496
NEXT_PUBLIC_SFR_COLLECTION=0x34A1D3fff3958843C43aD80F30b94c510645C316
NEXT_PUBLIC_NGP_COLLECTION=0x90193C961A926261B756D1E5bb255e67ff9498A1
ALERT_WEBHOOK_URL=https://discord.com/api/webhooks/...